app = "veritus-lab"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 4000
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]
